
body {
    height: 100vh;
    text-align: center;
    position: relative;
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

div.center {
    width: 800px;
    height: 162px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -140px 0 0 -400px; 
}

div.bottom {
    width: 400px;
    height: 70px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin: 0 0 0 -200px;
}

div.top {
    width: 600px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 0px;
    margin: 20px 0 0 -300px;
    font-size: 300%;
    color: grey;
}

p#enough {
    font-weight: 700; 
    margin: 0;
    font-size: 1000%;
}

img {
    filter: grayscale(100%);
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}