:root {
    --bg-color: rgb(255, 255, 255);
    --light-grey: rgb(241, 241, 241);
    --dark-grey: rgb(153, 153, 153);
    --darker-grey: rgb(119, 119, 119);
    --text-color: rgb(51, 51, 51);
    --header: rgb(0, 0, 0);
    --pure-white: rgb(255, 255, 255);
    --pure-black: rgb(0, 0, 0);
}

html.dark {
    --bg-color: rgb(45, 45, 45);
    --light-grey: rgb(60, 60, 60);
    --dark-grey: rgb(150, 150, 150);
    --darker-grey: rgb(190, 190, 190);
    --text-color: rgb(204, 204, 204);
    --header: rgb(240, 240, 240);
    --pure-white: rgb(0, 0, 0);
    --pure-black: rgb(255, 255, 255);
}

body {
    width: 280px;
    height: auto;
    font-size: 14px;
    margin: 2px 8px 8px 8px;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

div.blocksets {
    height: auto;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    vertical-align: top;
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    margin: 2px -8px;
    padding: 0px 8px;
}

div.controls {
    height: auto;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    vertical-align: top;
    padding-top: 6px;
}

ul.blocksets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.blocksets li {
    background-color: var(--bg-color);
    display: block;
    height: 27px;
}

ul.blocksets li {
    background-color: var(--bg-color);
    vertical-align: central;
    display: block;
    height: 32px;
    border-bottom: 1px solid var(--light-grey);
    position: relative;
    line-height: 32px;
}

ul.blocksets li:last-child {
    border-bottom: 0px;
}

ul .blocksets li.selected a{
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: var(--dark-grey);
    margin: 2px;
}

a:hover {
    text-decoration: underline;
    color: var(--pure-black);
}

div.controls a.disabled {
    pointer-events: none;
    color: var(--light-grey);
}

a.blocksiteName {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1em;
    position: absolute;
    bottom: 0px;
    left: 1px;
    margin: 0;
}

span.blocksiteTime {
    width: auto;
    float: right;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: var(--pure-black);
    position: absolute;
    bottom: 0px;
    right: 1px;
    font-family: 'PT Mono', monospace;
}

span.blocksiteTime[state=disabled] {
    color: var(--dark-grey);
}

p {
    margin: 4px 0px;
}

p.url {
    padding: 2px;
    color: var(--dark-grey);
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    font-size: 12px;
    line-height: 130%;
    cursor: text;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-bottom: 4px;
    font-family: 'PT Mono', monospace;
}

p.header {
    font-size: 0.8em;
    text-align: center;
    height: 14px;
    color: var(--dark-grey);
}

h1 {
    margin: 5px 0px 5px 0px;
    font-weight: 600;
    font-size: 1.1em;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a#options {
    float: right;
    margin-bottom: 6px;
}

hr {
    height: 1px;
    margin: 6px -8px 1px -8px;
    border: none;
    background-color: var(--light-grey);
}


span#addIndicator {
    padding: 0;
    margin: 0;
    font-size: 12px;
    float: left;
}

