#dawdle_block_annoy {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    background-color: red;
    opacity: 0.6;
    pointer-events: none;
    font-size: 60px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: "PT Mono", monospace;
    line-height: 1;
    padding: 6px;
    height: initial;
}

#dawdle_block_annoy::before {
    content: "OVERTIME ";
}

@media only screen and (max-width: 800px)  {
    #dawdle_block_annoy::before {
        content: "";
    }
}

/* 1440p screens */
@media only screen and (min-height: 1100px)  {
    #dawdle_block_annoy {
        font-size: 80px;
    }
}

/* 2160p screens */
@media only screen and (min-height: 1500px)  { 
    #dawdle_block_annoy {
        font-size: 100px;
    }
}
