
* {
    box-sizing: border-box;
}

:root {
    /*
    names are based on light theme
    => may not make sense for dark theme
    */

    --bg-color: hsl(0, 0%, 100%);
    --dialog-color: hsl(0, 0%, 93%);
    --light-grey: hsl(0, 0%, 90%);
    --grey: hsl(0, 0%, 80%);
    --dark-grey: hsl(0, 0%, 60%);
    --darker-grey: hsl(0, 0%, 50%);
    --primary-text-color: hsl(0, 0%, 0%);
    --secondary-text-color: hsl(0, 0%, 30%);
    --red: rgb(192, 31, 31);
}

html.dark {
    --bg-color: hsl(0, 0%, 19%);
    --dialog-color: hsl(0, 0%, 25%);
    --light-grey: hsl(0, 0%, 24%);
    --grey: hsl(0, 0%, 30%);
    --dark-grey: hsl(0, 0%, 50%);
    --darker-grey: hsl(0, 0%, 60%);
    --primary-text-color: hsl(0, 0%, 100%);
    --secondary-text-color: hsl(0, 0%, 70%);
}

body {
    height: 600px;
    min-width: 880px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Tahoma", "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
    overflow: hidden;
    font-size: 12px;
    background-color: var(--bg-color);
    color: var(--secondary-text-color);
}

#saveIndicator.show, #generalSaveIndicator.show {
    transition: opacity 0s;
    opacity: 1;
}

#saveIndicator, #generalSaveIndicator {
    transition: opacity 1.8s linear;
    opacity: 0;
}



.red {
    color: var(--red) !important;
}

hr.border {
    z-index: 10;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0px;
    margin: 0;
}

hr.border#top {
    top: 0px;
}

hr.border#bottom {
    bottom: 0px;
}

h1,h2,h3 {
    color: var(--primary-text-color);
}


div.nav {
    display: inline-block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 130px;
    background-color: var(--light-grey);
    z-index: 1;
    position: relative;
}

div.main {
    width: calc(100% - 130px);
    padding: 0px;
    height: 100%;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;
    position: absolute;
    right: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.nav li a {
    display: block;
    color: var(--primary-text-color);
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.nav li a:hover {
	background-color: var(--dark-grey);
    color: var(--primary-text-color);
}

ul.nav li a.drag {
    background-color: var(--dark-grey);
    color: var(--primary-text-color);
}

ul.nav li a.selected {
	background-color: var(--darker-grey);
	color: var(--bg-color);
}

ul.blockset, ul.general {
    padding: 10px;
}

ul.blockset li, ul.general li {
	padding: 8px 0px;
	font-size: 100%;
}

li.siteAdder, li.siteList{
    display: inline;
}

div.siteAdder {
    padding: 5px;
    padding-bottom: 0px;
}

.siteAdder input[type="text"] {
    border-radius: 0 !important;
    margin: 0;
    padding: 3px 3px 4px;
}

.siteAdder button[id$="Add"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
}

.siteAdder select[id$="listSelect"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

div.topInputs {
    display: flex;
    margin: 0;
    padding: 0;
}

div.topInputs > * {
    margin: 0;
}

div.topInputs > input[type=text] {
    flex: 1;
}


button.siteRemove {
    text-align: center;
    float: right;
    min-height: 0px;
    min-width: 0px;
    height: 20px !important;
    width: 62px !important;
    padding: 0 4px !important;
    margin: 0 !important;
    position: relative;
    bottom: 2px;
}


button.big {
    width: 74px;
    font-size: 100%;
    padding: 0;
}

ul.siteItems {
    padding: 5px 0px;
}

li.siteItem {
    position: relative;
    display: block;
    padding: 5px !important;
    border-bottom: solid var(--light-grey) 1px;
    margin: 1px;
}

span.filter {
    position: relative;
}

span.site {
    position: absolute;
    left: 97px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 168px);
}

#blacklistInput, #whitelistInput {
    width: calc(100% - 147px);
}

textarea {
	width: 100%;
	height: 80px;
	resize: vertical;
}

input.timepicker {
    text-align: center !important;
    width: 68px;
    min-height: 2em;
}

input[type="number"]#typingTestWordCount {
    width: 60px;
}

#timeLeft {
    font-family: 'PT Mono', monospace;
    font-size: 16px;
}


input[type="text"], input[type="text"]:hover, input.timepicker, input.timepicker:hover{
    cursor: text;
    border: solid var(--grey) 1px !important;
    color: var(--primary-text-color);
}

input[type="text"]:focus, input.timepicker:focus{
    cursor: text;
    border: solid var(--primary-text-color) 1px !important;
}

input[type="number"] {
    color: var(--primary-text-color);
}

button, button:hover, select, select:hover {
    text-align: center;
    cursor: pointer;
    box-shadow: none !important;
    text-shadow: none !important;
    border: none !important;
    background-image: none !important;
    background-color: var(--grey);
    color: var(--primary-text-color) !important;
    border-radius: 3px;
    min-height: 2em;
    min-width: 4em;
    -moz-appearance: none;
}

.dark select, .dark select:hover {
    background-image: url("../images/ic_arrow_drop_down_white.png") !important;
}

select, select:hover {
    cursor: pointer;
    background-image: url("../images/ic_arrow_drop_down_black.png") !important;
    background-size: 24px, 24px;
    background-position: right center;
    background-repeat: no-repeat;
    padding-inline-end: 20px;
}

select:disabled {
    cursor: not-allowed;
    color: var(--dark-grey) !important;
    background-image: url("../images/ic_arrow_drop_down_grey.png") !important;
}

button:active {
    cursor: pointer;
    background-color: var(--dark-grey);
}

button:disabled {
    cursor: not-allowed;
    color: var(--dark-grey) !important;
    background-color: var(--grey) !important
}

input, input:hover {
    cursor: pointer;
    box-shadow: none !important;
    text-shadow: none !important;
    border: solid var(--secondary-text-color) 1px !important;
    background-image: none !important;
    background-color: var(--bg-color);
    border-radius: 3px !important;
}

input[type="checkbox"] {
    margin-bottom: 4px;
}

input[type="checkbox"]:checked {
    background-color: var(--secondary-text-color);
}

input[type="checkbox"]:checked::before {
    background-image: url("../images/ic_check.png");
    filter: none;
    transform: scale(1.2);
}

.dark input[type="checkbox"]:checked::before {
    filter: brightness(0.19);
}

input[type="radio"]:checked::before {
    background-color: var(--secondary-text-color);
}


input[type="radio"] {
    border-radius: 100% !important;
    margin: 0px 2px 4px 20px;
}

input[type="checkbox"]:disabled {
    cursor: not-allowed;
    border-color: var(--dark-grey) !important;
}
input[type="checkbox"]:checked:disabled {
    background-color: var(--dark-grey);
}

input:disabled, input:disabled:hover {
    border-color: var(--dark-grey);
    cursor: not-allowed;
    color: var(--dark-grey);
}

#chooseFileHidden {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input.blocksetRename {
    font-size: 200%;
    width: 100%;
}

h3 {
    margin: 0 0 5px 0;
    display: inline-block;
    font-weight: 400;
}

h3.noMargin {
    margin: 0 !important;
}


h1 {
    font-size: 200%;
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 12px;
}

li.aDay label{
    margin-left: 5px;
}

button.help {
    min-height: 0;
    min-width: 0;
    width: 16px;
    height: 16px;
    -webkit-padding-end: 0px !important;
    -webkit-padding-start: 0px !important;
    padding: 0 !important;
    position: relative;
    font-weight: 700;
    display: inline-block;
    top: 0px;
    line-height: 10px;
    opacity: 0.8;
    margin-left: 4px;
}

div#typingTestDisplay {
    flex-basis: 70%;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: white;
    margin: 5px 0;
    padding: 3px;
    font-size: 130%;
    min-height: 2em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

div#liveWordCount, div#typingTestSuccess {
    flex-basis: 30%;
    margin: auto;
    padding-left: 5px;
    font-size: 130%;
}

div#typingTestSuccess {
    font-weight: bold;
}

input#typingTestInput {
    width: 70%;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: white;
    margin: 5px 0;
    padding: 3px;
    font-size: 130%;
}


div.dialog {
    z-index: 3;
    width: 380px;
    min-height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -170px;
    background-color: var(--dialog-color);
    border-radius: 3px;
    box-shadow: 0 0 5px grey;
}

div.topBar {
    width: 100%;
    background-color: var(--darker-grey);
    color: var(--bg-color);
    border-radius: 3px 3px 0 0;
    padding: 10px;
    cursor: move;
}

button.close {
    min-height: 0px;
    min-width: 0px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 3px;
    right: 5px;
    -webkit-padding-end: 0px !important;
    -webkit-padding-start: 0px !important;
    padding: 0 !important;
}

div.topBar span {
    font-weight: bold;
}

button.close img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
}

.dark button.close img {
    filter: invert(1);
}

button.close:disabled img {
   opacity: 0.2;
}

label:disabled {
    cursor: not-allowed;
    color: var(--dark-grey);
}

div.text {
    min-height: 40px;
    padding: 10px;
}

div.botBar {
    height: 34px;
    width: 100%;
}

div.botBar button {
    float: right;
    margin: 0px 5px;
    height: 24px;
    margin-top: 5px;
}

ul.text {
    list-style: disc;
    margin-left: 15px;
}

ul.text > li {
    margin: 4px;
}

ul.text > li {
    margin: 4px;
}

ul.text > li.subList {
    list-style: none;
}

ul.text > li > ul.text {
    list-style: circle;
    margin-left: 22px;
    font-size: 90%;
}

ul.text > li > ul.text > li{
    margin: 1px;
}

td {
   vertical-align: top; 
}

a {
    color: var(--dark-grey);
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: var(--secondary-text-color);
}

#PP {
    filter:grayscale(100%);
}

div.donate {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

button#donate {
    padding: 20px;
}

button#donate *{
    padding: 6px;
}

label.disabled {
    cursor: not-allowed;
    color: var(--dark-grey);
}